<div class="form-container">
    <form [formGroup]="productUpdateFormGroup" (ngSubmit)="onSubmitProductUpdate()">
        <div>
            <label>Nom</label>
            <input type="text" formControlName="name">
            <div class="error-form" *ngIf="productUpdateFormGroup.get('name')?.invalid && (productUpdateFormGroup.get('name')?.dirty || productUpdateFormGroup.get('name')?.touched)">
                <div *ngIf="productUpdateFormGroup.get('name')?.errors?.['required']">Le nom est requis.</div>
                <div *ngIf="productUpdateFormGroup.get('name')?.errors?.['maxlength']">Le nom ne doit pas dépasser 15 caractères.</div>
            </div>
        </div>
        <div>
            <label>Description</label>
            <input type="text" formControlName="description">
            <div class="error-form" *ngIf="productUpdateFormGroup.get('description')?.invalid && (productUpdateFormGroup.get('description')?.dirty || productUpdateFormGroup.get('description')?.touched)">
                <div *ngIf="productUpdateFormGroup.get('description')?.errors?.['required']">La description est requise.</div>
                <div *ngIf="productUpdateFormGroup.get('description')?.errors?.['maxlength']">La description ne doit pas dépasser 15 caractères.</div>
            </div>
        </div>
        <div>
            <label>Categorie</label>
            <select formControlName="categoryId">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            <div class="error-form" *ngIf="productUpdateFormGroup.get('categoryId')?.invalid && (productUpdateFormGroup.get('categoryId')?.dirty || productUpdateFormGroup.get('categoryId')?.touched)">
                <div *ngIf="productUpdateFormGroup.get('categoryId')?.errors?.['required']">La catégorie est requise.</div>
            </div>
        </div>
        <div>
            <label>Prix</label>
            <input type="text" formControlName="price">
            <div class="error-form" *ngIf="productUpdateFormGroup.get('price')?.invalid && (productUpdateFormGroup.get('price')?.dirty || productUpdateFormGroup.get('price')?.touched)">
                <div *ngIf="productUpdateFormGroup.get('price')?.errors?.['required']">Le prix est requis.</div>
                <div *ngIf="productUpdateFormGroup.get('price')?.errors?.['min'] || productUpdateFormGroup.get('price')?.errors?.['max']">Le prix doit être compris entre 0.01 et 999.99.</div>
            </div>
        </div>
        <div>
            <label>Stock</label>
            <input type="text" formControlName="stock">
            <div class="error-form" *ngIf="productUpdateFormGroup.get('stock')?.invalid && (productUpdateFormGroup.get('stock')?.dirty || productUpdateFormGroup.get('stock')?.touched)">
                <div *ngIf="productUpdateFormGroup.get('stock')?.errors?.['required']">Le stock est requis.</div>
                <div *ngIf="productUpdateFormGroup.get('stock')?.errors?.['min']">Le stock doit être supérieur ou égal à 0.</div>
            </div>
        </div>
        <div class="input-image-container">
            <div>
                <label>Image</label>
                <input type="file" formControlName="imageUrl" (change)="loadFile($event)">
            </div>
            <div class="error-form" *ngIf="productUpdateFormGroup.get('imageUrl')?.invalid && (productUpdateFormGroup.get('imageUrl')?.dirty || productUpdateFormGroup.get('imageUrl')?.touched)">
                <div *ngIf="productUpdateFormGroup.get('imageUrl')?.errors?.['required']">L'image est requise.</div>
            </div>
            <div>
                <img class="img-preview" [src]="imageUrl">
            </div>
        </div>
        <button type="submit">Sauvegarder</button>
    </form>
</div>