@import '../../../styles/variables.scss';

.category-name {
    // font-size: 0.875rem;
    // font-size: $font-size-category;
}
app-product {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;
    margin: 1.25rem 0;
}