<header>
    <img src="../assets/back-arrow.svg" alt="admin"(click)="navigateToCatalog()">
</header>
<main>
    <div *ngIf="cart.orders.length > 0">
        <div *ngFor="let product of cart.orders" class="product-container">
            <div class="product-subcontainer">
                <div class="product-image-container">
                    <img [src]="baseUrl + product.product.imageUrl">
                </div>
                <div>
                    <div class="product-title">
                        <p>{{product.product.name}}</p>
                        <p>{{product.product.description}}</p>
                    </div>
                    <div class="product-price">
                        <p>{{(product.product.price * product.quantity).toFixed(2)}} €</p>
                    </div>
                </div>
            </div>
            <div class="quantity-container">
                <div class="circle" (click)="updateProduct('-', product)">
                    <img src="../../assets/sub.svg">
                </div>
                <p>{{product.quantity}}</p>
                <div class="circle" (click)="updateProduct('+', product)">
                    <img src="../../assets/add.svg">
                </div>
            </div>
        </div>
        <div class="total">
            <p>Total {{(cart.total).toFixed(2)}}€</p>
        </div>
        <div class="button-container">
            <button (click)="confirmPayement()">Confirmer le paiement</button>
        </div>
    </div>
    <div *ngIf="cart.orders.length === 0">
        <p>Le panier est vide.</p>
    </div>
    <app-toast></app-toast>
</main>