.toast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    min-width: 20rem;
    height: 2rem;
    border-radius: 0.2rem;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.1));
    animation-name: pop;
    animation-duration: 2s;
    z-index: 15000;
}

@keyframes pop {
    0% {
        bottom: -2rem;
    }

    25% {
        bottom: 2rem;
    }

    100% {
        bottom: 2rem;
    }
}