<header>
    <img src="./assets/admin.svg" alt="admin" *ngIf="!adminMode" (click)="toggleAdmin()">
    <img src="./assets/home.svg" alt="admin" *ngIf="adminMode" (click)="toggleAdmin()">
</header>
<main>
    <div class="catalog-container">
        <app-category [categories]="categories" [adminMode]="adminMode"></app-category>
        <div class="add-button" (click)="adminMode ? openModal() : navigateToCart()">
            <p *ngIf="adminMode">+</p>
            <img src="././assets/cart.svg" *ngIf="!adminMode">
        </div>
    </div>
    <app-admin-modal *ngIf="adminMode"></app-admin-modal>
    <app-toast></app-toast>
</main>