.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

.header-modal {
    justify-content: space-between;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    min-height: 380px;
    max-height: 100vh;
    overflow: auto;
    background-color: white;
    border-radius: 0.5rem;
}

.form-container {
    padding: 0.9375rem;
}

button {
    width: 90%;
}
